div {
    margin:10px;
    background-color:rgb(134, 134, 173);
    align-items:center;
   
}



button {
    margin: 5px;
}

#tabelNotities{
    margin-top: 50px;
    min-width: 350px;
    align-content:center;
    text-align: center;
    align-self: center;
}

  
#naamToevoegen {width: 50%;}

#addUser {
    border-radius: 25px;
  background: rgb(158, 167, 218);
  padding: 20px;
  width: 200px;
 
    min-height: 50px;
    align-self: center;
    
}
#notitieInput {
    
    margin:10px;
    width:50%;
    min-width: 300px;
}
