div {
    margin:10px;
    background-color:rgb(168, 148, 190);
    align-items:center;
   
}

table {margin: 5px}
th {   margin-left: 20px;
    background-color:rgb(224, 213, 233);
    align-items:center;}

td {    
    background-color:rgb(235, 235, 241);
        align-items:center;}


button {
    margin: 5px;
}
  
#naamToevoegen {width: 50%;}

#addUser {
    border-radius: 25px;
  background: rgb(155, 126, 177);
  padding: 20px;
  width: 200px;
 
    min-height: 50px;
    align-self: center;
    
}
#notitieInput {
    
    margin:1px;
    width:50%;
    min-width: 300px;
}
