<p >{{title}}</p>

<div id="tabelUsers" fxLayout="row wrap">
    
    <div fxFlex="30" fxLayout="column" fxFlex.xs="100%">
        <table  mat-table [dataSource]="userList"
            class="mat-elevation-z8">

            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="Naam">
                <th mat-header-cell *matHeaderCellDef> Naam </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="Notitie">
                <th mat-header-cell *matHeaderCellDef> Notitietoevoegen </th>
                <td mat-cell  *matCellDef="let element"> <Button mat-raised-button (click)="AddNotitieComponentTabel(element.name)">Notitie Toevoegen</Button> </td> 
            </ng-container>

            <ng-container matColumnDef="ToonAlleNotities">
                <th mat-header-cell *matHeaderCellDef>Toon notities</th>
                <td mat-cell  *matCellDef="let element"> <Button mat-raised-button (click)="GetNotesComponent(element.name)">Toon notities van {{element.name}}</Button> </td>
            </ng-container>


            <ng-container matColumnDef="ButtonVerwijderAlles">
                <th mat-header-cell *matHeaderCellDef>Alles verwijderen</th>
                <td mat-cell  *matCellDef="let element"> <Button mat-raised-button (click)="DeleteGebruikerEnNotitieComponent(element.name)">Verwijder {{element.name}}</Button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsUsers"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: displayedColumnsUsers"></tr>
        </table>
    </div>
</div>  


 <div>
    <button  mat-raised-button (click)="AddUserComponent()">Voeg een naam toe: </button>
    <mat-form-field  appearance="fill">
        <mat-label>vul een naam in!</mat-label>
        <input matInput min="1" max="50" type="string" [(ngModel)]="ingegevenNaamToevoegen" #ctrl="ngModel" required
            placeholder="max 50 letters">
         <mat-hint>niet langer dan 50 letters!</mat-hint> 
 </mat-form-field>
</div> 

<div>
    <button  mat-raised-button  *ngIf="wordtNotitieToegevoegd"  
     (click)="AddNotitieComponent()">Voeg een notitie toe voor: {{ingegevenNaamNotitie}}"  </button>
 
 <mat-form-field *ngIf="wordtNotitieToegevoegd"  appearance="fill">
    <mat-label>notitie hier ingeven</mat-label>
    <input matInput min="1" max="50" type="string" [(ngModel)]="notitieToevoegen" #ctrl="ngModel" required
        placeholder="max 150 letters">
     <mat-hint>niet langer dan 150 letters!</mat-hint> 
</mat-form-field>
</div> 


<!-- <div *ngFor="let element of noteList">
    <li>
{{element.content}}
    </li>
</div> -->


      <div *ngIf="toonNotities">hier zou de tabel met notities moeten komen!!
        <table mat-table [dataSource]="noteList">
            
          <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="content">
                <th mat-header-cell *matHeaderCellDef> Notitie </th>
                <td mat-cell *matCellDef="let element"> {{element.content}} </td>
            </ng-container>

            <ng-container matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef> idName </th>
                <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumnsNotes"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: displayedColumnsNotes"></tr> 
        </table> 
    </div>