
<!-- <a routerLink="/Tabel">Tabel</a> -->

<div >
    <button mat-raised-button  (click)="PatchNotitieComponent()">een notitie van {{naamGebruiker}} aanpassen </button>
    <p>

        <mat-form-field   appearance="fill">
            <mat-label>notitie hier aanpassen</mat-label>
            <input matInput min="1" max="50" type="string" [(ngModel)]="noteToPatch.content" #ctrl="ngModel"
                required placeholder="max 150 letters">
            <mat-hint> notitie aanpassen</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field >
            <mat-label>selecteer hier categorie</mat-label>
            <mat-select [(value)]="noteToPatch.categorie">
                <mat-option *ngFor="let categorie of categorieArray" [value]="categorie">
                    <p>{{categorie}}</p>
                </mat-option>
            </mat-select>
            <mat-hint> categorie toevoegen</mat-hint>
        </mat-form-field>
    </p>
</div>

